# Saved Characters #
####################
saveCharacter/

# Data Files I do not have premission to destribute the data #
##############################################################
data/

# Auth list #
#############
auth/

# Node Modules #
################
node_modules/